@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

/* --- fonts and headers --- */
body {
    background-color: #161d20;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Encode Sans', sans-serif;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

h3,
h4, 
h5 {
    color: #e64a19;
    font-family: "Squada One", sans-serif;
    margin-top: 15px;
}

.movie-heading {
    margin-bottom: 30px;
}

/* --- navbar, form icons ---- */
.sidenav li a{
    color: #e64a19;
}

nav, 
.form-icon,
i {
    color: #e64a19;
}

nav .brand-logo {
    color: #e64a19;
    font-family: "Squada One", sans-serif;
    padding-left: 10px;
}

nav ul a {
    color: #e64a19;
    font-weight: 500;
    font-family: "Squada One", sans-serif;
    font-size: 20px;
}

.sidenav-trigger {
    color: #e64a19;
}

/* ---- Footer ---- 
code from https://stackoverflow.com/questions/15960290/css-footer-not-displaying-at-the-bottom-of-the-page/15960308 */ 

html {
    position: relative;
    min-height: 100%;
}

.footer {
    font-size: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    color: #e64a19;
    margin-top: 20px;
}

.footer-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.footer-icon:hover {
    color: white;
}

/* -- Home Page -- */
/* This code credited to - https://stackoverflow.com/questions/23254346/how-can-i-change-background-image-opacity-without-changing-on-div-content*/
.home-background {
    background-color: black;
}

#home-bg-image:after {    
    background: url('/static/images/home-bg-2.jpg') no-repeat center center;
    background-color: black;
    content: "";
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card .card-content {
    padding: 15px;;
}

.home-menu {
    height: 160px;
}

/* ---- registration form ----*/
.registration-form {
    color: black;
}

.register-button {
    background-color: #e64a19;
    color: white;
}

/* ---- flash messages ----*/
.flashes h4 {
    color: #b2dfdb;
    line-height: 2;
}

/* ---- Movie List page Styling ---- */
.movie-item {
    display: block;
    border-style: double;
    border-color: rgba(231, 160, 68, 0.171) ;
    border-width: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.movie-item:hover {
    background-color: #455a64;
}

/* --- Pagination Icons --- */
.pagination-bar {
    background-color: transparent;
    font-size: 20px;
    height: 30px;
    margin: 30px;
}

.active-page {
    height: auto;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.disabled {
    color: gray;
    padding: 6px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.disabled:hover {
    background-color: #546e7a;
    color: white;
}

a {
    color: gray;
}

a:hover {
    color: white;
}

/* ---- Review List Styling ---- */
.review-item {
    display: block;
    border-style: solid;
    border-color: #e64a19;
    border-width: 1px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* --- rating slider --- */
input[type=range]{
    width: 60%;
    align-content: center;
    align-items: center;
}

input[type=range]+.thumb {
    display: none;
}

/* --- Buttons --- */
.btn-small {
    margin: 5px;;
}

.btn-large .cancel-button {
    color: white;
    background-color: red;
}

/* -- Rating and Review desc box -- */
.rating-box {
    width: 400px;
}

/* --- 404 page --- */
.return-home:hover {
    color: white;
} 

/* --- Media Queries --- */
@media (max-width: 600px) {
    .movie-item {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .movie-details {
        text-align: center;
    }
}