@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

body {
    background-color: #263238;
    color: white;
}



/*.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
*/


/* form icons will all be orange colour */
nav, .form-icon {
    color: #e64a19;
}

nav .brand-logo {
    color: #e64a19;
    font-family: "Chango", sans-serif;
    padding-left: 20px;
}

nav ul a {
    color: #e64a19;
    font-weight: 700;
}

.sidenav-trigger {
    color: #e64a19;
}

.registration-form {
    color: black;
}

.register-button {
    background-color: #e64a19;
    color: white;

}

.flashes h4 {
    color: black;
    line-height: 2;
    background-color: #ffca28;
}


/* collapsable/accordian colour scheme */
.collapsible, 
.collapsible-body, 
.collapsible-header {
    border-color: #e64a19;
    background-color: transparent;
}

