{% extends "base.html" %}
{% block content %}

<body class="home-background">
    <div id="home-bg-image">
        <div class="row" >
            <div class="col s12">
                <div class="">
                    <h3 class="center-align home-message ">
                        Welcome to MyMovie<br>
                    </h3>
                    <h4 class="white-text center-align">
                        The home for movie reviews.<br>
                        Search for Movie reviews or you<br>
                        can register and write one yourself!
                    </h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 center-align home-menu">
                <div class="card blue-grey darken-4">
                    <div class="card-content white-text">
                        <span class="card-title"><h5>Log In/Register</h5></span>
                        <p>Log in to your account to write a review or if you haven't already, 
                            you can sign-up and register here.</p>
                    </div>
                    <div class="card-action center-align">
                        <a href="{{ url_for('login') }}">Log In</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 center-align home-menu">
                <div class="card blue-grey darken-4">
                    <div class="card-content white-text">
                        <span class="card-title"><h5>Browse Movies</h5></span>
                        <p>Browse a list of movies to read reviews and ratings. 
                            If you have an account, you can write your own review. </p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('get_movies') }}" class="center-align text-center">Movie List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    
{% endblock %}