{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="">
                <h3 class="center-align">
                    Welcome to MyMovie,<br>
                    the home for movie reviews.<br>
                    Search for Movie reviews or <br>
                    you can register and write one yourself!
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 center-align">
            
        </div>
    </div>
    
{% endblock %}