{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Movies</h3>

    <!-- Search Bar-->
    <div class="row card_panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12 blue-grey darken-3">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate white-text" required>
                    <label for="query">Search Movie, Director, Cast, Genre or Year of Release</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_movies') }}" class="red btn-small text-shadow">Reset</a>
                    <button type="submit" class="btn-small waves-effect waves-light">
                        <i class="fas fa-search left white-text"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--List of movies-->
    {% if movies|length > 0 %}
    {% for movie in movies %}
    <a href="{{ url_for('movie_page', movie_name=movie.movie_name) }}"> <!-- This is for redirecting to the individual movie page -->
    <div class="row movie-item">
        <div class="col s12 m4 center-align valign-wrapper">
            <img src="{{ movie.image }}" alt="">
        </div>
        <div class="col s12 m8 white-text">
            <strong>{{ movie.movie_name }}</strong> <span>&nbsp({{ movie.year }})</span>
            <!--"&nbsp" forces a space-->
            <p><b>Genre</b>: {{ movie.genre }}</p>
            <p><b>Director(s)</b>: {{ movie.director }}</p>
            <p><b>Cast</b>: {{ movie.cast }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
    {% else %}
        <h4 class="center-align blue-text">No Movies Found</h4>
    {% endif %}

{% endblock %}