{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="">
                <h4 class="center-align movie-heading">
                    {{ get_movie.movie_name }} 
                </h4>
            </div>
            <div class="row">
                <div class="col s12 m4 center-align">
                    <img src="{{ get_movie.image }}" alt="Movie Image">
                </div>
                <div class="col s12 m8 left-align">
                    <p><b>Year</b>: {{ get_movie.year }}</p>
                    <p><b>Genre</b>: {{ get_movie.genre }}</p>
                    <p><b>Director(s)</b>: {{ get_movie.director }}</p>
                    <p><b>Cast</b>: {{ get_movie.cast }}</p>
                    <!-- Edit and Delete movie buttons -->
                    <a href="{{ url_for('edit_movie', movie_id=get_movie._id ) }}" class="waves-effect waves-light btn-small">Edit Movie Details</a>
                    <a href="" class="waves-effect waves-light btn-small">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}