{% extends "base.html" %}
{% block content %}

    {% for movie in movies %}
        {{ movie.movie_name }}<br>
        {{ movie.year }}<br>
        {{ movie.genre }}<br>
        {{ movie.director }}<br>
        {{ movie.cast }}<br>
    {% endfor %}

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="fas fa-caret-down"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="fas fa-caret-down"></i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="fas fa-caret-down"></i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>

{% endblock %}
