{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="">
                <h3 class="center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
        <div class="col s12 m6 offset-m3">
            <div class="">
                <h4 class="center-align">
                    Your Reviews
                </h4>
            </div>
        </div>
    </div>

    {% for review in reviews %}
        {% if review.by_user == session.user %}
            <div class="center-align container review-item blue-grey darken-4 white-text">
                <h5>{{ review.movie_name }} </h5>
                <p><a href="{{ url_for('movie_page', movie_id=review.movie_id ) }}" 
                    class="btn-small green">Go to Movie<i class="far fa-arrow-alt-circle-right white-text"></i></a></p>
                <p>Rating: {{ review.review_rating }} out of 10</p>
                <p>"{{ review.review_description }}"</p>
                <p><em>Review date: {{ review.review_date }} by <b>{{ review.by_user }}</b></em> <!--REMOVE "REVIEWED BY", THIS IS HERE ONLY FOR TESTING PURPOSES-->
                <!-- if review was edited, the edit date will appear -->
                {% if review.edit_date %}
                    <em>(Edited on {{ review.edit_date }})</em></p>
                {% endif %}
                <div class="row">
                    <a href="{{ url_for('edit_review', review_id=review._id ) }}" class="btn-small">Edit Review</a>
                    <!-- Modal Trigger for deleting review-->
                    <button data-target="#confirm-delete-{{ review._id }}" class="red waves-effect waves-light btn-small modal-trigger">Delete Review</button> 
                    <!-- Modal Structure -->
                    <!-- Confirm Delete Warning Modal -->
                    <div id="#confirm-delete-{{ review._id }}" class="modal blue-grey lighten-4 red-text center-align"> 
                        <div class="modal-content">
                            <h4><b>WARNING</b></h4>
                            <h5>Are you sure you wish to delete your review for <b>{{ review.movie_name }}</b>:
                                <br><br> "{{ review.review_description }}" ?
                                <br><br>This action is irreversible.
                            </h5>
                        </div>
                        <div class=" center-align">
                            <a href="#!" class="modal-close waves-effect waves-green btn-small">CANCEL</a>
                            <a href="{{ url_for('delete_review', review_id=review._id ) }}" 
                                class="btn-small red">Delete Review</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    
{% endblock %}