{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="">
                <h3 class="center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
        <div class="col s12 m6 offset-m3">
            <div class="">
                <h4 class="center-align">
                    Your Reviews
                </h4>
            </div>
        </div>
    </div>


    
        {% for review in reviews %}
                {% if review.by_user == session.user %}
                <div class="center-align container review-item blue-grey darken-3 white-text">
                    <p>Movie: <b>{{ review.movie_name }}</b></p>
                    <a href="{{ url_for('movie_page', movie_name=review.movie_name ) }}">go to movie</a><!-- TRY TO GET THIS TO REDIRECT TO THE MOVIE PAGE -->
                    <p>Rating: {{ review.review_rating }} out of 10</p>
                    <p>"{{ review.review_description }}"</p>
                    <p><em>Review Date: {{ review.review_date }}</em> by <b>{{ review.by_user }}</b></p>
                    <!-- REMOVE THE REVIEWED BY HERE ON PROFILE PAGE!! -->
                    <div class="row">
                        <a href="" class="btn-small">Edit Review</a>
                        <a href="{{ url_for('delete_review_profile', review_id=review._id ) }}" class="btn-small">Delete Review</a>
                    </div>
                </div>
                {% endif %}
        {% endfor %}
    

{% endblock %}